{%extends 'base.html'%}
{%block content%}

<div class="contact contact-text d-flex justify-content-center align-items-center">
	<div class="text-center">
		<h2>DELI & TAKE AWAY</h2>
		<p>
			Lorem ipsum dolor sit amet,
			<br>
			consectetur adipisicing elit.
		</p>
		<a href="#"><button type="button" class="btn btn-outline-light">Button</button></a>
	</div>
</div>
<!-- Start Hero Section -->
<div class="hero contact-text">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="text-center p-4">
					<h2>DELI & TAKE AWAY</h2>
					<br>
					<h4>DIRECCIÓN</h4>
					<p>Lorem ipsum dolor sit amet</p>
					<h4>TELÉFONO</h4>
					<p>Lorem ipsum dolor sit amet</p>
					<h4>HORARIO</h4>
					<p>Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="col-md-6 contact-image">
			</div>
		</div>
	</div>

</div>
<!-- End Hero Section -->
<div class="iframe">
	<iframe class="responsive-iframe"
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13135.071506850409!2d-58.37282851720738!3d-34.61003074297631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3351218f0777f%3A0x73be679de8abb9b0!2sFabric%20Sushi%20(Puerto%20Madero%20Dique)!5e0!3m2!1ses-419!2sar!4v1748843532338!5m2!1ses-419!2sar"
		width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{%endblock%}