{%extends 'base.html'%}
{%block content%}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Finalizar compra</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->


        
        <form action="{{ url_for('checkout')}}" method="POST" id="checkout-form">
			<div class="untree_co-section">
				<div class="container">
				  <div class="row">
					<div class="col-md-6 mb-5 mb-md-0">
					  <h2 class="h3 mb-3 text-white text-checkout">Datos de Entrega</h2>
					  <div class="p-3 p-lg-5 border checkout-form">
						<div class="form-group row">
						  <div class="col-md-6 mb-3">
							<label for="c_fname" class="text-white">Nombre <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_fname" name="c_fname" required>
						  </div>
						  <div class="col-md-6 mb-3">
							<label for="c_lname" class="text-white">Apellido <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_lname" name="c_lname" required>
						  </div>
						</div>
	
						<div class="form-group row mb-3">
						  <div class="col-md-12">
							<label for="c_address" class="text-white">Dirección <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_address" name="c_address" placeholder="Calle, número, piso" required>
						  </div>
						</div>
	
						<div class="form-group row mb-3">
						  <div class="col-md-6">
							<label for="c_email_address" class="text-white">Email <span class="text-danger">*</span></label>
							<input type="email" class="form-control" id="c_email_address" name="c_email_address" required>
						  </div>
						  <div class="col-md-6">
							<label for="c_phone" class="text-white">Teléfono <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_phone" name="c_phone" required>
						  </div>
						</div>
	
						<div class="form-group row mb-3">
								<div class="col-md-12">
							<label for="c_order_notes" class="text-white">Notas del pedido</label>
							<textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Instrucciones especiales para la entrega..."></textarea>
						  </div>
						</div>
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="row mb-5">
						<div class="col-md-12">
						  <h2 class="h3 mb-3 text-white text-checkout">Tu Pedido</h2>
						  <div class="p-3 p-lg-5 border checkout-form">
							<table class="table site-block-order-table mb-5">
							  <thead>
								<th>Producto</th>
								<th>Total</th>
							  </thead>
							  <tbody id="checkout-items">
								<!-- se agrega al carrito mediante JavaScript -->
							  </tbody>
							  <tfoot>
								<tr>
								  <td class="text-white font-weight-bold">Subtotal</td>
								  <td class="text-white font-weight-bold" id="checkout-subtotal">$0.00</td>
								</tr>
								<tr>
								  <td class="text-white font-weight-bold">Envío</td>
								  <td class="text-white font-weight-bold">Gratis</td>
								</tr>
								<tr>
								  <td class="text-white font-weight-bold">Total</td>
								  <td class="text-white font-weight-bold" id="checkout-total">$0.00</td>
								</tr>
							  </tfoot>
							</table>
	
							<div class="border p-3 mb-3">
							  <h3 class="h6 mb-0 text-white"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Transferencia Bancaria</a></h3>
	
							  <div class="collapse" id="collapsebank">
								<div class="py-2">
								  <p class="mb-0 text-white">Realiza tu pago directamente en nuestra cuenta bancaria. Por favor, usa tu ID de pedido como referencia de pago.</p>
								</div>
							  </div>
							</div>
	
							<div class="border p-3 mb-3">
							  <h3 class="h6 mb-0 text-white"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Pago con Tarjeta</a></h3>
	
							  <div class="collapse" id="collapsecheque">
								<div class="py-2">
								  <p class="mb-0 text-white">Paga con tarjeta de crédito o débito.</p>
								</div>
							  </div>
							</div>
	
							<div class="border p-3 mb-5">
							  <h3 class="h6 mb-0 text-white"><a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Efectivo en la Entrega</a></h3>
	
							  <div class="collapse" id="collapsepaypal">
								<div class="py-2">
								  <p class="mb-0 text-white">Paga al recibir tu pedido.</p>
								</div>
							  </div>
							</div>
	
							<div class="form-group">
								<button type="submit" class="pay-button">FINALIZAR COMPRA</button>
							</div>
	
						  </div>
						</div>
					  </div>
	
					</div>
				  </div>
				</div>
			  </div>
		</form>



            <!-- Checkout Section End -->

		{%endblock%}