{% extends 'base.html' %}
{% block content %}

<main id="main">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

  <!-- Login Section Start -->
  <section id="login">
    <div class="container">
      <div class="col-md-6">
        <div class="section-header">
          <h3>LOGIN</h3>
        </div>
        <div class="login-col-2">
          <div class="login-form">
            <form action="{{ url_for('login') }}" method="POST">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-envelope"></i>
                </span>
                <input type="email" class="form-control" name="email" placeholder="Email" required />
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-lock"></i>
                </span>
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required />
              </div>
              <br><br>
              <div class="login-button">
                <button type="submit">Ingresar</button>
              </div>
              <br>
            </form>

            <div class="newuser-button">
              <a href="{{ url_for('mostrar_formulario') }}">Nuevo Usuario</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Login Section End -->

{% endblock %}

